@import url("https://fonts.googleapis.com/css?family=Concert+One");
@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url("https://fonts.googleapis.com/css?family=Cookie");
.hm-container {
  width: 300px;
  height: 180px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-family: 'Concert One', cursive;
}

.hm-container h1 {
  font-size: 40px;
}

.hm-container a {
  transition: all 0.4s linear;
}

.hm-container a img {
  width: 300px;
}

.hm-container a:hover {
  -webkit-filter: contrast(5);
  filter: contrast(5);
}

.cr-container {
  font-family: 'Concert One', cursive;
}

.cr-container .rm-title, .cr-container .cr-title {
  font-size: 40px;
}

.cr-container .rm-userbox, .cr-container .cr-userbox {
  margin-bottom: 30px;
}

.cr-container .rm-userbox img, .cr-container .cr-userbox img {
  display: block;
  float: left;
  border: 3px solid #ffffff;
}

.cr-container .rm-userbox .userName, .cr-container .cr-userbox .userName {
  color: #ffffff;
  padding: 15px 0 0 15px;
  margin: 0;
  float: left;
}

.cr-container .rm-userbox .userName a, .cr-container .cr-userbox .userName a {
  color: #ff0000;
  text-decoration: none;
  transition: all 0.5s ease;
}

.cr-container .rm-userbox .userName a:hover, .cr-container .cr-userbox .userName a:hover {
  color: #008000;
}

.cr-container .cr-newroom .newRoom {
  width: 350px;
  height: 35px;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  padding-left: 10px;
  border: 3px solid #008000;
  background-color: #000000;
  color: #008000;
  float: left;
}

.cr-container .cr-newroom #create {
  width: 125px;
  height: 43px;
  border: 3px solid #008000;
  background-color: #008000;
  transition: all 0.4s linear;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Concert One', cursive;
  font-size: 19px;
  outline: 0;
}

.cr-container .cr-newroom #create:hover {
  background-color: #000000;
  color: #008000;
}

.cr-container .cr-roomlist {
  width: 485px;
  border: 3px solid #008000;
}

.cr-container .cr-roomlist .roomlist {
  margin: 0;
  list-style: none;
  padding: 25px;
}

.cr-container .cr-roomlist .roomlist a {
  text-decoration: none;
}

.cr-container .cr-roomlist .roomlist a li {
  padding: 10px 0;
  font-size: 22px;
  color: #ffffff;
  transition: all 0.4s linear;
}

.cr-container .cr-roomlist .roomlist a:hover li {
  color: #008000;
}

.rm-container {
  font-family: 'Concert One', cursive;
}

.rm-container .rm-title, .rm-container .cr-title {
  font-size: 40px;
}

.rm-container .rm-userbox, .rm-container .cr-userbox {
  margin-bottom: 30px;
}

.rm-container .rm-userbox img, .rm-container .cr-userbox img {
  display: block;
  float: left;
  border: 3px solid #ffffff;
}

.rm-container .rm-userbox .userName, .rm-container .cr-userbox .userName {
  color: #ffffff;
  padding: 15px 0 0 15px;
  margin: 0;
  float: left;
}

.rm-container .rm-userbox .userName a, .rm-container .cr-userbox .userName a {
  color: #ff0000;
  text-decoration: none;
  transition: all 0.5s ease;
}

.rm-container .rm-userbox .userName a:hover, .rm-container .cr-userbox .userName a:hover {
  color: #008000;
}

.rm-container #more {
  color: #008000;
  transition: all 0.4s linear;
}

.rm-container #more:hover {
  color: #ffffff;
}

.rm-container .rm-roomname {
  font-size: 30px;
  width: 100%;
  border: 2px solid #008000;
}

.rm-container .rm-roomname h5 {
  margin: 0;
  padding: 10px 10px 10px 5px;
  color: #ffffff;
  text-transform: uppercase;
}

.rm-container .rm-roomname h5 span {
  text-transform: none;
  color: #008000;
}

.rm-container .chatbox {
  width: 100%;
  border: 2px solid #008000;
  border-top: none;
}

.rm-container .chatbox .rm-message {
  float: left;
  width: 70%;
}

.rm-container .chatbox .rm-message .messages {
  list-style: none;
  padding: 15px;
}

.rm-container .chatbox .rm-message .messages li .msgbox {
  background-color: #008000;
  color: #ffffff;
  font-family: 'Cookie', cursive;
  font-size: 24px;
  border-radius: 10px;
}

.rm-container .chatbox .rm-message .messages li .msgbox .pic {
  margin: 0;
  min-width: 50px;
  display: table;
  margin-bottom: 10px;
  padding: 10px;
}

.rm-container .chatbox .rm-message .messages li .msgbox .pic img {
  height: 50px;
  width: 50px;
  float: left;
  margin: 0 7px 0 0;
  border-radius: 50%;
}

.rm-container .chatbox .rm-message .messages li .msgbox .pic span {
  padding: 5px;
}

.rm-container .chatbox .rm-users {
  float: right;
  width: 29%;
}

.rm-container .chatbox .rm-users .users {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rm-container .chatbox .rm-users .users li {
  height: 50px;
  margin: 5px 0;
}

.rm-container .chatbox .rm-users .users li img {
  display: block;
  float: left;
  height: 100%;
  border-radius: 50%;
}

.rm-container .chatbox .rm-users .users li h5 {
  display: block;
  float: left;
  margin: 13px 2px 13px 5px;
  color: #ffffff;
  font-size: 18px;
}

.rm-container .rm-newmessage {
  width: 100%;
  border: 2px solid #008000;
  border-top: none;
}

.rm-container .rm-newmessage input.newmessage {
  width: 85%;
  border: none;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Cookie', cursive;
  font-size: 20px;
  height: 50px;
  padding-left: 15px;
}

.rm-container .rm-newmessage ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
}

.rm-container .rm-newmessage ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}

.rm-container .rm-newmessage :-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
}

.rm-container .rm-newmessage :-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}

body {
  background-color: #000000;
  color: #008000;
}

body .clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body textarea:focus, body input:focus {
  outline: none;
}
